body {
	background: #000 url(../img/bg-space.png) repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: auto;
}

#wrapper{
	margin: auto;
}

#page{
	width: 100%;
	height: 100%;
}

.play{
	background: url(../img/play.png) no-repeat 20% 5px;
}

.pause{
	background: url(../img/pause.png) no-repeat 18% 5px;
}

header{
	margin: auto;
	height: 100px;
	background: #134E5E; 
	background: -webkit-linear-gradient(to left, #134E5E , #71B280); 
	background: linear-gradient(to left, #134E5E , #71B280);       
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

header h1{
	padding-top: 10px;
	font-size: 2em;
}

header .version{
	margin: auto;
	color: #D8F6CE;
	text-align: center;
	width: 90%;
	text-transform: uppercase;
	border-top: 1px solid #9FF781;
	font-size: 0.8em; 
	padding-bottom: 10px;
}

header .version p{
	margin-top: 2px;
}

nav{
	display: block;
}

.ship{
	margin: auto;
}

.col-1{
	position: absolute;
	left: 0;
}

.col-2{
	position: absolute;
	left: 33.2%;
}

.col-3{
	position: absolute;
	right: 0;
}

.col-4{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.col-1, .col-2, .col-3{
	display:inline-block;
	width:33.33%;
}

.container{
	margin: auto;
	width: 100%;
}

.nav{

}

.nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #232526; 
	background: -webkit-linear-gradient(to left, #232526 , #414345); 
	background: linear-gradient(to left, #232526 , #414345); 
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover{
	background-color: #111;
}

.nav .current{
	background-color: #088A68;
}

.nav .current a{
	color: #D8F6CE;
	font-weight: bold;
}

.game-options{
	margin: auto;
	margin-top: 15px;
	display: block;
	border: 2px solid #40FF00;
	width: 65%;
	color: #40FF00;
}

.game-options ul{

}

.game-options li{
	list-style: none;
}

.game-options a{
	text-decoration: none;
	color: #40FF00;
	display: block;
    text-align: center;
}

.game-options{

}

.game-options ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.game-options li{
	width: 100%
}

.game-options a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.game-options a:hover{
	background-color: #111;
}

.ship{
	position: absolute;
	left: 40%;
	width: 70px;
	height: auto;
}

.control-panel{
	margin: auto;
	margin-top: 15px;
	display: block;
	border: 2px solid #40FF00;
	width: 65%;
	color: #40FF00;
	font-size: 12px;
}

.info{
	margin-top: 4%;
	margin-bottom: 4%;
	font-family: sans-serif;
}

.field{
	margin: auto;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
}

.data{
	margin: auto;
	margin-left: 50%;
	width: 50%;
	text-align: center;
}

.clearfix {
    clear: both;
}

article {
	margin: auto;
	width: 90%;
}

article h1{
	background: #232526; 
	background: -webkit-linear-gradient(to left, #232526 , #414345); 
	background: linear-gradient(to left, #232526 , #414345);
	height: 40px;
	color: #D8F6CE;
	padding: 10px 0 0 10px; 
	border: 1px solid #A4A4A4;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

section {
	background: #fff;
	margin-top: -20px;
	margin-bottom: 20px;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

footer {
	width: 100%;
	height: 50px;
	background: #232526; 
	background: -webkit-linear-gradient(to left, #232526 , #414345); 
	background: linear-gradient(to left, #232526 , #414345);
}

footer p{
	margin: auto;
	padding-top: 15px;
	text-align: center;
	color: #D8F6CE;
}

.moon {
	margin: auto;
	display: block;
	max-width: 100%;
    height: auto;
}